#div_adkengage_recommendations {
	width:100%;
	font-size:11px;
	line-height:20px;
	clear:both;
}

#div_adkengage_recommendations .adkengage_recommendations {
    padding:0px;
    float:left;
    width:45%;
    font-weight:bold;
}

#div_adkengage_recommendations .adkengage_paidlistings {
    padding:0 10px;
    float:left;
    width:45%;
    font-weight:bold;
}

.adkengage_recommendations .adkengage_rec_header, .adkengage_paidlistings .adkengage_ad_header,
.adkengage_recommendations_img .adkengage_rec_header, .adkengage_paidlistings_img .adkengage_ad_header
{	
	font-weight:bold;
}

#div_adkengage_recommendations div ul {
	margin:0;
}

#div_adkengage_recommendations div ul li div {
	display:inline-block;
}

#div_adkengage_recommendations div ul li .adkengage_ad_url_display {	
	margin-left:5px;
	color:#aaa;
	font-size:11px;
	display:inline-block;
	font-weight:normal;
}

#div_adkengage_recommendations div ul li .adkengage_share_div_style {
	display:inline-block;	
	height:16px;
	cursor:pointer;
	padding:0px 10px;
	margin-left:2px;
	background:url(http://app.engage.bidsystem.com/Images/sharethis.jpg) bottom no-repeat;
}

#div_adkengage_recommendations ul li .adkengage_recom_display {
	background-image:none;
}

#div_adkengage_recommendations ul li .adkengage_ad_display {
	background-image:none;
}

.facebook-share-button-small {	
	cursor:pointer;
	float:left;
    padding:0px 5px;
    background:url(http://app.engage.bidsystem.com/Images/facebook.jpg) 1px center no-repeat;
}

.twitter-share-button-small {	
	cursor:pointer;
	float:left;
    padding:0px 5px;
	background: url(http://app.engage.bidsystem.com/Images/twitter.jpg) 1px center no-repeat;
}

.linkedin-share-button-small {	
	cursor:pointer;
	float:left;
    padding:0px 5px;
	background: url(http://app.engage.bidsystem.com/Images/linkedin.jpg) 1px center no-repeat;
}

.google-share-button-small {	
	cursor:pointer;
	float:left;
    padding:0px 5px;
	background: url(http://app.engage.bidsystem.com/Images/google-plus.jpg) 1px center no-repeat;
}

#div_adkengage_recommendations ul li img {

}
/*#div_adkengage_recommendations .adkengage_about
{
	clear:both;
	float:right;
	cursor:pointer;
	color:#ccc;
}
#div_adkengage_recommendations .adkengage_about_close
{
	margin:0;
	padding:0px 5px 0px 0px;
	text-align:right;
	float:right;
	height:5px;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
}

#div_adkengage_recommendations .adkengage_about_popup
{
	background-color: #F4B52B;
    border: 2px solid #C87D00;
	font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 125px;
    margin: 20px 0 0 30px;
    padding: 1px 2px;
    position: absolute;
	visibility:visible;
    z-index:10001;
    width: 600px;

}
#div_adkengage_recommendations .adkengage_about_content
{
	height:105px;
	width:600px;
}*/


/*** Image Style ***/
#div_adkengage_recommendations_img {
	width:100%;
	font-size:11px;
	line-height:20px;
	
}

#div_adkengage_recommendations_img .adkengage_recommendations_img, #div_adkengage_recommendations_img .adkengage_paidlistings_img {
    padding:0px;
    float:left;
    /*width:95%;*/
    font-weight:bold;
}

#div_adkengage_recommendations_img .adkengage_ad_url_display {	
	color:#aaa;
	font-size:10px;
}
.adkengage_display_img 
{
    width:110px;
    float:left;
    cursor:pointer;
    padding:5px;
}

.adkengage_img_item_border
{
	height:165px;
	overflow:hidden;
	padding:5px 5px;
}

.adkengage_img_item_border:hover
{ }

#div_adkengage_recommendations_img a{
	text-decoration:none;	
	font-weight:bold;
}

.adkengage_img_item_border .adkengage_imgwrapper {
    height:100px;
    width:100px;
    margin:0 0 5px;
	border:1px solid #ccc;
}
.adkengage_img_item_border .adkengage_image {
	padding:0px;
	margin:0px;
	border:0px;
	max-height:100%;
	max-width:100%;
	height:100%;
	width:100%;
}
.adkengage_img_item_border .adkengage_imgwrapper:hover {
    height:100px;
    width:100px;
    margin:0 0 5px;
	border:1px solid #000;
}

.adkengage_adindicator
{
    color: #000000;
    font-family: trebuchet MS;
    font-size: 8px;
    font-weight: normal;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
	height: 11px;
    letter-spacing: 1px;
    line-height: 11px;
	margin: 88px 0 0 81px;
    padding: 0 3px;
    position: absolute;
    text-decoration: none;
    z-index:999;
}

.adkeng_noimg
{
	position:absolute;
	color:#424242;
	margin:14px 5px;
	width:80px;
	height:80px;
	overflow:hidden;
	text-align:center;
	z-index:999;
}
.adkengage_img_item_border .adkengage_imgcontwrapper 
{
	margin:5px;
	padding:0px 0px 0px 0px;
	font-size:10px;
	height:77px;
	text-align: left;
}

#div_adkengage_recommendations_img .adkengage_share_div_style 
{
	display:inline-block;	
	height:16px;
	cursor:pointer;
	padding: 6px 45px 1px 45px;
	margin-left:2px;
	background:url(http://app.engage.bidsystem.com/Images/sharethistext.jpg) bottom no-repeat;
}
#div_adkengage_recommendations_img .adkengage_share_links 
{
	padding: 0px 2px;
	box-shadow: 3px 3px 4px #000000;
	-webkit-box-shadow: 3px 3px 4px #000000;
	-moz-box-shadow: 3px 3px 4px #000000;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000000, offX=3, offY=3, positive=true);
	border:1px solid #ccc;
	background-color:#F7F7F7;
	margin-left:10px;
	position:absolute;
	z-index:10002 !important;
}

.adkengage_clear
{
	clear:both;
	overflow:hidden;
	max-height:0;
}
.adkengage_about
{
	clear:both;
	float:right;
	cursor:pointer;
	color:#ccc;
}
.adkengage_about_close
{
	margin:0;
	padding:0px 5px 0px 0px;
	text-align:right;
	float:right;
	height:5px;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
}

.adkengage_about_popup
{
	background-color: #FFF;
    border: 2px solid #C87D00;
	font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	margin: -290px -10px 0 0px;
    height: 275px;
    padding: 1px 2px;
	visibility:visible;
    z-index:10001;
    width: 500px;

}
.adkengage_about_content
{
	height:250px;
	width:100%;
}


/**End of image styles**/