.adkengage_img_item_border .adkengage_imgwrapper 
{
	height:120px;
    width:120px;
}
.adkengage_img_item_border .adkengage_imgwrapper:hover 
{
	height:120px;
    width:120px;
}
/*120+10*/
.adkengage_display_img 
{
    width:130px;
}
/*120-12, 120-19*/
.adkengage_adindicator
{
	 margin: 108px 0 0 101px;
}
.adkengage_img_item_border
{
	height:200px;
}

.adkeng_noimg
{
	margin:25px 10px;
	width:90px;
	height:90px;
}
#div_adkengage_recommendations_img a {
    font-size:11px;
}